<div class = "row">

<div class = "col-md-6">
<%= image_tag @book.image.url(:original), class: "img-responsive" %>
</div>

<div class = "col-md-6">
<h3>
  <%= @book.name %> by <%= @book.author %>
</h3>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @book.price.to_f / 100 %>
</p>

<% if current_user %>
  <%= form_tag buy_path(slug: @book.slug) do %>
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>" 
      data-amount="<%= @book.price %>"
      data-name="Murrketio"
      data-description="<%= @book.name %>"
      data-email="<%= current_user.email %>" 
      data-locale="auto">
    </script>
  <% end %>
<% else %>
  <p>You must be logged in to make a purchase.</p>
<%end%>
</div>

</div>

<p id="notice"><%= notice %></p>
<p>
  <strong>Availability:</strong>
  <%= @book.availability %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
